* {
    padding: 0;
    margin: 0;
}


.div_1 {
    width: 1900px;
    height: 1000px;
    border: 0px solid black;
    background-image: url("./rasimlar/back-img.png");
    /* filter: blur(100%); */
    filter: blur(100%);
}

.div_1_1 {
    width: 1900px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.548);
}

.div_h1 {
    width: auto;
    height: 50px;
    padding-top: 50px;
    /* border: 2px solid rgb(255, 255, 255); */
    padding-bottom: 10px;


    >h1 {
        font-size: 32px;
        font-family: 'jost', sans-serif;
        color: white;
        text-align: center;
    }


}


.div_chiziq {
    width: 1200px;
    height: 2px;
    background-color: white;
    margin: auto;
}

.div_select_p {
    width: auto;
    height: 50px;
    /* border: 2px solid white; */
    display: flex;
    padding-top: 20px;

}

.div_p {
    width: 400px;
    height: 50px;
    /* border: 2px solid white; */
    padding-top: 10px;
    /* margin: auto; */
    padding-left: 600px;

    >p {
        color: white;
        font-size: 23px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 10px;


    }
}

.div_select {
    width: 300px;
    height: 50px;
    /* border: 2px solid beige; */


    >select {
        width: 200px;
        height: 50px;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 5px;
        border-radius: 100px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #505550bd;

    }



    /* margin: auto; */
}

.div_mintaqa_sana_soat {
    width: 1500px;
    height: 80px;
    /* border: 2px solid wheat; */
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 200px;
}

.mintaqa_vaqti {
    width: 500px;
    height: 80px;
    /* border: 2px solid white; */

    >h1 {
        font-size: 25px;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 5px;

        >span {
            color: gold;
        }

    }
}

.sana_va_soat {
    width: 650px;
    height: 80px;
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;


}

.sana_va_karta {
    display: flex;
    width: 420px;
    height: auto;
    /* border: 2px solid white; */
    justify-content: space-between;

    >h1 {
        color: gold;
    }
}



.div_vaqtlar_1qismi {
    width: 1700px;
    height: 450px;
    /* border: 2px solid white; */
    margin: auto;
    padding-top: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;

}


.div_vaqtlar_1qismi_1 {
    width: 250px;
    height: 400px;
    border: 1px solid rgba(251, 255, 0, 0);
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 20px;
    box-shadow: inset 0px 0px 100px rgba(196, 193, 6, 0.315),
        0px 0px 100px rgba(223, 201, 7, 0.247);

}



.div_vaqtlar_1qismi_1_1 {
    width: auto;
    height: 40px;
    /* border: 2px solid black; */
    padding-top: 10px;



    >p {
        font-size: 30px;
        text-align: center;
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 5px;
        color: gold;
        text-shadow: 0px 0px 10px gold;
    }
}

.div_vaqtlar_1qismi_1_2 {
    width: auto;
    height: 250px;
    /* border: 2px solid black; */
    padding-left: 3px;

    >img {
        margin: auto;
        margin-top: 0px;
        width: 235px;
        height: 200px;


    }

    >div>img {
        margin: auto;
        margin-top: 40px;
        width: 235px;
        height: 170px;


    }


}



.div_vaqtlar_1qismi_1_3 {
    width: 100%;
    height: 40px;
    /* border: 2px solid rgb(255, 255, 255); */

    >h1 {
        font-size: 30px;
        text-align: center;
        display: flex;
        margin-left: 70px;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;



        >p {
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;


        }
    }

}

.div_karta {
    display: none;
}

/*  mabil qismi ////////////////////////////////////////////////////////////////// */

@media(max-width:375px) {



    .div_karta {
        display: block;
        width: 70px;
        height: 50px;
        /* border: 2px solid black; */
        margin-top: -42px;
        padding-left: 50px;

        >img {
            width: 35px;
            height: 35px;
        }
    }

    .div_1 {
        width: 375px;
        height: auto;
        /* border: 2px solid black; */
        background-image: url(./rasimlar/calendar\ \(2\)\ 1.png);
        /* filter: blur(100%); */
        filter: blur(100%);
    }

    .div_1_1 {
        width: 375px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.37);
        background-image: url(./rasimlar/body-bg20\ 2.png);

    }

    .div_h1 {
        width: auto;
        height: 50px;
        padding-top: 50px;
        /* border: 2px solid rgb(0, 0, 0); */
        padding-bottom: 10px;
        background-color: #69f14d;


        >h1 {
            font-size: 24px;
            font-family: 'jost', sans-serif;
            color: #FFFFFF;
            text-align: center;
        }


    }


    .div_chiziq {
        width: 375px;
        height: 2px;
        background-color: white;
        margin: auto;
        display: none;
    }

    .div_select_p {
        width: 350px;
        height: 50px;
        border: 1px solid rgb(0, 0, 0);
        margin: auto;

        display: flex;
        padding-top: 20px;
        background-color: #08f100a6;

        border-top-color: gold;
        border-left-color: gold;
        border-right-color: gold;
        border-bottom-width: 0px;


        margin-top: 30px;
        border-radius: 10px 10px 0px 0px;


    }

    .div_p {
        width: 370px;
        height: 50px;
        /* border: 2px solid rgb(0, 0, 0); */
        padding-top: 10px;
        /* margin: auto; */
        padding-left: 0px;
        display: none;

        >p {
            color: rgb(0, 0, 0);
            font-size: 23px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 10px;
            display: block;



        }
    }

    .img_div {
        display: none;
    }

    .div_select {
        width: 300px;
        height: 50px;
        /* border: 2px solid rgb(0, 0, 0); */
        padding-left: 4px;
        /* padding-top: -40px; */



        >select {
            width: auto;
            height: 45px;
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 5px;
            border-radius: 100px;
            padding-left: 100px;
            padding-right: 50px;
            background-color: #08f10025;

            border-width: 0px;
            /* margin-left: 0px; */
            user-select: none;
            cursor: pointer;

            >option {
                cursor: cell;
                /* width: 100px; */
            background-color: #00e600;
       

            }

        }



        /* margin: auto; */
    }

    .div_mintaqa_sana_soat {
        width: 350px;
        height: 80px;

        border: 1px solid rgb(255, 0, 0);
        border-bottom-color: gold;
        border-left-color: gold;
        border-right-color: gold;
        border-top-width: 0px;
        
        /* border-top: 5px; */

        /*  border-left: 0px;
        border-bottom: 0px;
        border-right: 0px; */

        color: antiquewhite;
        display: block;
        justify-content: space-between;
        padding-top: 0px;
        padding-left: 0px;
        background-color: #08f100a6;
        margin: auto;
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 10px;
    }

    .mintaqa_vaqti {
        width: 375px;
        height: 80px;
        /* border: 2px solid rgb(0, 0, 0); */
        display: none;

        >h1 {
            font-size: 25px;
            letter-spacing: 2px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 5px;

            >span {
                color: gold;
            }

        }
    }

    .sana_va_soat {
        width: 350px;
        height: 80px;
        /* border: 2px solid rgb(0, 0, 0); */
        display: block;
        /* justify-content: space-between; */
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 5px;
        /* padding-top: 20px; */

        margin-left: 0px !important;

        >h1 {
            margin: auto;
            padding-left: 100px;
        }


    }

    .sana_va_karta {
        display: block;
        width: 300px;
        height: auto;
        /* border: 2px solid rgb(0, 0, 0); */
        border-top-color: #FFFFFF;
        border-top-width: 4px;
        justify-content: space-between;
        padding-top: 20px;
        margin: auto;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;


        >h1 {
            color: gold;
            font-size: 20px;
            text-align: center;
            letter-spacing: 2px;
        }
    }



    .div_vaqtlar_1qismi {
        width: 375px;
        height: 1000px;
        /* border: 2px solid rgb(0, 0, 0); */
        margin: auto;
        padding-top: 80px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0px;

    }


    .div_vaqtlar_1qismi_1 {
        width: 160px;
        height: 300px;
        border: 1px solid rgb(251, 255, 0);
        background-color: rgba(20, 102, 0, 0.425);
        border-radius: 20px;
        box-shadow: inset 0px 0px 80px rgb(62, 255, 3),
            10px 10px 10px rgba(0, 0, 0, 0.747);
        margin-left: 10px;
        margin-top: -20px;
    }



    .div_vaqtlar_1qismi_1_1 {
        width: auto;
        height: 40px;
        /* border: 2px solid black; */
        padding-top: 10px;



        >p {
            font-size: 20px;
            text-align: center;
            font-weight: 900;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 5px;
            color: gold;
            text-shadow: 0px 0px 10px gold;
        }
    }

    .div_vaqtlar_1qismi_1_2 {
        width: auto;
        height: 190px;
        /* border: 2px solid black; */
        padding-left: 3px;

        >img {
            margin: auto;
            margin-top: 0px;
            width: 150px;
            height: 200px;


        }

        >div>img {
            margin: auto;
            margin-top: 20px;
            width: 120px;
            height: 170px;
            margin-left: 15px;


        }


    }



    .div_vaqtlar_1qismi_1_3 {
        width: 100%;
        height: 40px;
        /* border: 2px solid rgb(0, 0, 0); */

        >h1 {
            font-size: 20px;
            text-align: center;
            display: flex;
            margin-left: 50px;
            color: rgb(255, 255, 255);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;



            >p {
                margin-left: 5px;
                margin-right: 5px;
                text-align: center;


            }
        }

    }
















}